html {
  background-color: lightgray;
}

body {
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.header a,
.navigation a,
.footer a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  height: 50px;
  display: flex;
  width: 100%;
  text-align: center;
  line-height: 50px;
}

.header {
  height: 60px;
  padding: 20px 5%;
}

.header > a {
  font-size: 200%;
}

.navigation > a {
  width: 100%;
}

.navigation > a:hover {
  background-color: lightgray;
}

.top-image {
  width: 100%;
}

.content {
  padding: 40px 5%;
}

.content-title {
  font-size: 200%;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.eyecatch-image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.footer {
  height: 100px;
  background-color: gray;
}